.container {
  button {
    height: 3.125rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 9px;
    padding: 0 2rem;

    font-weight: 600;
    background: #be4642;
    color: #fff;

    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }

    &.outline {
      background: transparent;
      color: #be4642;
      border: 1px solid #be4642;
    }
  }
}
