.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20.625rem;

  padding: 2rem;

  border-radius: 9px;
  border: 1px solid #d3d3cd;
  background: transparent;

  header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #d3d3cd;

    h2 {
      color: #d3d3cd;
      font-weight: 600;
    }
  }

  main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;

    span {
      color: #d3d3cd;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
