.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      width: 40px;
      height: 40px;
    }

    .author {
      h3 {
        font-weight: 600;
        color: #d3d3cd;
      }

      h5 {
        font-weight: 400;
        color: #d3d3cd;
      }
    }
  }

  .linksAction {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    button {
      background: transparent;
      border: 0;

      svg {
        stroke: #3f4870;
        stroke-width: 3;
        width: 20px;
        height: 20px;
      }
    }

    a {
      font-weight: 600;
      color: #3f4870;
    }
  }
}
